.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-content {
  min-height: 85vh;
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
}
